a {
  color: #928a97;
}
a:hover {
  color: #79707e;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #928a97;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  color: #928a97;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #928a97 !important;
}
#offcanvas-toggler >i {
  color: #222;
}
#offcanvas-toggler >i:hover {
  color: #e6e6e6;
}
@media only screen and (max-width: 991px) {
  #offcanvas-toggler >i {
    color: #928a97;
  }
  #offcanvas-toggler >i:hover {
    color: #e6e6e6;
  }
}
.btn-primary,
.sppb-btn-primary {
  background-color: #928a97;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.sppb-btn-primary:hover,
.sppb-btn-primary:focus,
.sppb-btn-primary:active {
  color: #fff;
  background-color: #aba5af;
  border-color: #aba5af;
}
.btn-secondary,
.sppb-btn-secondary {
  background-color: #0088CC;
  color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.sppb-btn-secondary:hover,
.sppb-btn-secondary:focus,
.sppb-btn-secondary:active {
  color: #fff;
  background-color: #006699;
  border-color: #002233;
}
.btn-danger,
.sppb-btn-danger {
  background-color: #E98D2B;
  color: #fff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.sppb-btn-danger:hover,
.sppb-btn-danger:focus,
.sppb-btn-danger:active {
  color: #fff;
  background-color: #cc7315;
  border-color: #6f3f0c;
}
.btn-info,
.sppb-btn-info {
  background-color: #00a4b0;
  color: #fff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.sppb-btn-info:hover,
.sppb-btn-info:focus,
.sppb-btn-info:active {
  background-color: #00747d;
}
ul.social-icons >li a:hover {
  color: #928a97;
}
.sp-page-title {
  background: #353535;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #9b9b9b;
}
.sp-module ul >li >a:hover {
  color: #928a97;
}
.sp-module .latestnews >div >a {
  color: #9b9b9b;
}
.sp-module .latestnews >div >a:hover {
  color: #928a97;
}
.sp-module .tagscloud .tag-name:hover {
  background: #928a97;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: rgba(0,0,0,0);
  color: #111;
  border-color: #111;
}
.search .btn-toolbar button {
  background: #928a97;
}
.post-format {
  background: #928a97;
}
.voting-symbol span.star.active:before {
  color: #928a97;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #79707e;
}
.entry-link,
.entry-quote {
  background: #928a97;
}
blockquote {
  border-color: #928a97;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #928a97;
}
#sp-footer {
  background: #928a97;
}
.sp-comingsoon body {
  background-color: #928a97;
}
.pagination>li>a,
.pagination>li>span {
  color: #111;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #707070;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #928a97;
  background-color: #928a97;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #928a97;
  background-color: #928a97;
}
